html, .container {
    background-color: #222531;
    color: white;
    font-family: sans-serif;
    max-width: 70ch;
    margin: auto;
    line-height: 1.25;
    font-size: 1.25em;
}

.card {
    margin-bottom: 1rem;
}

.card-columns {
    column-count: 2;
    column-gap: 1rem;
}

.btn-container {
    text-align: center;
    margin-top: 2rem;
    /*width: 100%;*/
}

.btn {
    width: 100%;
    margin-top: 20px;
}
